@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
}
/*  Main Conatainer  */
body {
    background-color: #69ccea;
}
span {
    font-size: 60px;
}
h1 {
    background-color: black;
    font-size: 50px;
    border-radius: 50%;
    width: 320px;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
}

/*  Table Mask Elements  */
#tableMask {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: -1;
}
.columnMask {
    display: flex;
    flex-direction: column;
}
.slot {
    width:70px;
    height:70px;
    position:relative;
    overflow:hidden;
}
.slot:before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 288px 0px 300px blue;
}


/*  Real Table Elements  */
#table {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    width: 70px;
    height: 420px;
    flex-direction: column-reverse;
    align-items: center;
}
.discRed {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    content: '';
    position: relative;
    z-index: -2;
}
.discYellow {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: yellow;
    content: '';
    position: relative;
    z-index: -2;
}

#tableLegleft {
    height: 490px;
    width: 15px;
    background-color: blue;
    position: absolute;
    transform: translateX(-15px);
}
#tableLegleft:after {
    background-color: blue;
    width: 60px;
    height: 15px;
    position: absolute;
    content: '';
    bottom: 0px;
    left: -22.5px;
}
#tableLegRight {
    height: 490px;
    width: 15px;
    background-color: blue;
    position: absolute;
    transform: translateX(490px);
}
#tableLegRight:after {
    background-color: blue;
    width: 60px;
    height: 15px;
    position: absolute;
    content: '';
    bottom: 0px;
    left: -22.5px;
}
<<<<<<< HEAD
.empty {
    width: 70px;
    height: 70px;
    content: '';
}
=======
>>>>>>> 0d749af92e1729787c0f05a43d401fe77523d077

#ruleContainer {
    width: 600px;
    height: 300px;
    border: black solid 2px;
    border-radius: 2%;
    margin-bottom: 20px;
<<<<<<< HEAD
=======

>>>>>>> 0d749af92e1729787c0f05a43d401fe77523d077
}

ol {
    font-size: 8.5pt;
<<<<<<< HEAD
}
#winStatement {
    color: black;
    height: 71px;
=======

}

button {
    border-top: 1px solid #96d1f8;
    margin-top: 25px;
    background: -webkit-linear-gradient(top, #3c00ff, #59bfff);
    padding: 3px 6px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 16px;
}

button:hover {  
    background: #a6dbff;
}

button:active { 
    background: #080080;
>>>>>>> 0d749af92e1729787c0f05a43d401fe77523d077
}