@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
    font-size: 50px;
}
/*  Main Conatainer  */
body {
    background-color: #63A1FF;
}
span {
    font-size: 60px;
}
h1 {
    background-color: black;
    border-radius: 50%;
    width: 320px;
    text-align: center;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

/*  Table Mask Elements  */
#tableMask {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: -1;
}
.columnMask {
    display: flex;
    flex-direction: column;
}
.slot {
    width:70px;
    height:70px;
    position:relative;
    overflow:hidden;
}
.slot:before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 288px 0px 300px blue;
}


/*  Real Table Elements  */
#table {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    width: 70px;
    height: 420px;
    flex-direction: column-reverse;
    align-items: center;
}
.discRed {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    content: '';
    position: relative;
    z-index: -2;
}
.discBlack {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: yellow;
    content: '';
    position: relative;
    z-index: -2;
}